<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>TabuadaServlet</display-name>
    <servlet-name>TabuadaServlet</servlet-name>
    <servlet-class>controller.TabuadaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TabuadaServlet</servlet-name>
    <url-pattern>/TabuadaServlet</url-pattern>
  </servlet-mapping>
  <display-name>ExerciciosServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CalculadoraServlet</display-name>
    <servlet-name>CalculadoraServlet</servlet-name>
    <servlet-class>controller.CalculadoraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculadoraServlet</servlet-name>
    <url-pattern>/CalculadoraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AluguelServlet</display-name>
    <servlet-name>AluguelServlet</servlet-name>
    <servlet-class>controller.AluguelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AluguelServlet</servlet-name>
    <url-pattern>/AluguelServlet</url-pattern>
  </servlet-mapping>
</web-app>