<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>MeuPrimeiroServlet</display-name>
    <servlet-name>MeuPrimeiroServlet</servlet-name>
    <servlet-class>controller.MeuPrimeiroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeuPrimeiroServlet</servlet-name>
    <url-pattern>/MeuPrimeiroServlet</url-pattern>
  </servlet-mapping>
  <display-name>AulaServers</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SaudacaoServelet</display-name>
    <servlet-name>SaudacaoServelet</servlet-name>
    <servlet-class>controller.SaudacaoServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaudacaoServelet</servlet-name>
    <url-pattern>/SaudacaoServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoresServelet</display-name>
    <servlet-name>CoresServelet</servlet-name>
    <servlet-class>controller.CoresServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoresServelet</servlet-name>
    <url-pattern>/CoresServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroServlet</display-name>
    <servlet-name>CadastroServlet</servlet-name>
    <servlet-class>controller.CadastroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroServlet</servlet-name>
    <url-pattern>/CadastroServlet</url-pattern>
  </servlet-mapping>
</web-app>